parts/advanteges.html

<section>
  <div class="advanteges">
    <div class="row">
      <div class="title"><span>Чим ми круті</span></div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
      <div class="advanteges-item column large-3 medium-3 small-6">
        <div class="advanteges-item__icon"><img src="./dist/images/icon_adv1.svg" alt=""/></div>
        <div class="advanteges-item__text"><span>Персональний підхід</span>
          <p>Індивідуальни підхід до кожного клієнта</p>
        </div>
      </div>
    </div>
  </div>
</section>

pug/parts/advanteges.pug
section
	.advanteges
		.row
			.title
				span Чим ми круті
			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта

			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта

			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта

			.advanteges-item.column.large-3.medium-3.small-6
				.advanteges-item__icon
					img(src="./dist/images/icon_adv1.svg", alt="")
				.advanteges-item__text
					span Персональний підхід
					p Індивідуальни підхід до кожного клієнта
			
