parts/breadcrambs.html

<div class="row column">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="#">Головна </a></li>
      <li><a href="#">Типи Масажу </a></li>
      <li><span class="show-for-sr">Current: </span>Класичний з маслом</li>
    </ul>
  </nav>
</div>

pug/parts/breadcrambs.pug
.row.column
	nav(aria-label="You are here:" role="navigation")
		ul.breadcrumbs
			li
				a(href="#") Головна 
			li
				a(href="#") Типи Масажу 
			li
				span.show-for-sr Current: 
				| Класичний з маслом
