parts/courses.html

<section>
  <div class="courses">
    <div class="row">
      <div class="title"><span>Курси масажу</span></div>
      <div class="courses-content">
        <div class="courses__text column large-6 small-12">
          <div class="courses-text">
            <p>Курс навчання масажу - це унікальний шанс для початківців масажистів освоїти всі секрети і прийоми професійної майстерності.</p>
            <p>Практикуючі фахівці зможуть пройти загальну перепідготовку за досить привабливою вартості. Наш навчальний центр пропонує заняття, які починаються з самої елементарної теоретичної інформац</p>
            <p>Практична частина курсів допомагає учням основам і правильної «постановці рук». Важливим і необхідним навичкам у сфері навчання масажу можна навчиться у наших досвідчених  викладачів. Ми прагнемо внести нововведення з урахуванням сучасних технік міжнародних стандартів індустрії краси, яка потребує не тільки в дипломованих фахівців, а й в справжніх професіоналів.</p>
            <p>Приєднуйтесь до нас, станьте частиною щасливого колективу.</p>
          </div>
          <div class="courses__btn"><a class="btn" href="#">Записатись на курси</a></div>
        </div>
        <div class="courses__foto column large-5 small-12"><img src="./dist/images/event_foto.png" alt=""/></div>
      </div>
    </div>
  </div>
</section>

pug/parts/courses.pug
section
	.courses
		.row
			.title
				span Курси масажу
			.courses-content
				.courses__text.column.large-6.small-12
					.courses-text
						p Курс навчання масажу - це унікальний шанс для початківців масажистів освоїти всі секрети і прийоми професійної майстерності.
						p Практикуючі фахівці зможуть пройти загальну перепідготовку за досить привабливою вартості. Наш навчальний центр пропонує заняття, які починаються з самої елементарної теоретичної інформац
						p Практична частина курсів допомагає учням основам і правильної «постановці рук». Важливим і необхідним навичкам у сфері навчання масажу можна навчиться у наших досвідчених  викладачів. Ми прагнемо внести нововведення з урахуванням сучасних технік міжнародних стандартів індустрії краси, яка потребує не тільки в дипломованих фахівців, а й в справжніх професіоналів.
						p Приєднуйтесь до нас, станьте частиною щасливого колективу.
					.courses__btn
						a.btn(href="#") Записатись на курси
				.courses__foto.column.large-5.small-12
					img(src="./dist/images/event_foto.png", alt="")
