pug/parts/events.pug
section
	.row
		.events.clearfix
			.title
				span Наші події

			.column.large-6.clearfix.hide-for-small-only
				.events-next
					.events-next__img
						img(src="./dist/images/event_foto.png", alt="")
					.events-next__date
						span 18 
						span черв

					.events-next__title
						a(href="#") BANDA OPEN GAMES 2018
					.events-next__text
						p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м

			.column.large-6.clearfix
				.events-items
					.events-item
						.events-item__date.hide-for-small-only
							span 18 
							span черв
						.events-text
							.events-item__title
								a(href="#") BANDA OPEN GAMES 2018
							.events-item__text
								p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м
					.events-item
						.events-item__date.hide-for-small-only
							span 18 
							span черв
						.events-text
							.events-item__title
								a(href="#") BANDA OPEN GAMES 2018
							.events-item__text
								p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м
					.events-item
						.events-item__date.hide-for-small-only
							span 18 
							span черв
						.events-text
							.events-item__title
								a(href="#") BANDA OPEN GAMES 2018
							.events-item__text
								p А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м
			.all-events.column
				a(href="#") 
					i.fa.fa-chevron-right(aria-hidden="true")
					| Переглянути всі події

parts/events.html

<section>
  <div class="row">
    <div class="events clearfix">
      <div class="title"><span>Наші події</span></div>
      <div class="column large-6 clearfix hide-for-small-only">
        <div class="events-next">
          <div class="events-next__img"><img src="./dist/images/event_foto.png" alt=""/></div>
          <div class="events-next__date"><span>18 </span><span>черв</span></div>
          <div class="events-next__title"><a href="#">BANDA OPEN GAMES 2018</a></div>
          <div class="events-next__text">
            <p>А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м</p>
          </div>
        </div>
      </div>
      <div class="column large-6 clearfix">
        <div class="events-items">
          <div class="events-item">
            <div class="events-item__date hide-for-small-only"><span>18 </span><span>черв</span></div>
            <div class="events-text">
              <div class="events-item__title"><a href="#">BANDA OPEN GAMES 2018</a></div>
              <div class="events-item__text">
                <p>А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м</p>
              </div>
            </div>
          </div>
          <div class="events-item">
            <div class="events-item__date hide-for-small-only"><span>18 </span><span>черв</span></div>
            <div class="events-text">
              <div class="events-item__title"><a href="#">BANDA OPEN GAMES 2018</a></div>
              <div class="events-item__text">
                <p>А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м</p>
              </div>
            </div>
          </div>
          <div class="events-item">
            <div class="events-item__date hide-for-small-only"><span>18 </span><span>черв</span></div>
            <div class="events-text">
              <div class="events-item__title"><a href="#">BANDA OPEN GAMES 2018</a></div>
              <div class="events-item__text">
                <p>А также, людях, которые приходят на локацию массажа и хотят ощутить свободу в своем теле от блоков и зажимов.🙏Поэтому, качество и командная работа у нас на первом м</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="all-events column"><a href="#"> <i class="fa fa-chevron-right" aria-hidden="true"></i>Переглянути всі події</a></div>
    </div>
  </div>
</section>
