pug/parts/homeSlider.pug
slider
	.slider-wrap
		.slder-items#mainSlider
			.slider-item
				.slider-item__img
					img(src="./dist/images/slideritem.png", alt="")
				.slider-item__text
					.row
						.large-7
							p Масаж? Ми вміємо!
				.slider-item__btn
					a.btn(href="#") Записатись на масаж
		
			.slider-item
				.slider-item__img
					img(src="./dist/images/slideritem2.jpg", alt="")
				.slider-item__text
					.row
						.large-7
							p Масаж? Ми вміємо!
				.slider-item__btn
					a.btn(href="#") Записатись на масаж
		
			.slider-item
				.slider-item__img
					img(src="./dist/images/slideritem3.jpg", alt="")
				.slider-item__text
					.row
						.large-7
							p Масаж? Ми вміємо!Ми вміємо!Ми вміємо!
				.slider-item__btn
					a.btn(href="#") Записатись на масаж
	

parts/homeSlider.html

<slider>
  <div class="slider-wrap">
    <div class="slder-items" id="mainSlider">
      <div class="slider-item">
        <div class="slider-item__img"><img src="./dist/images/slideritem.png" alt=""/></div>
        <div class="slider-item__text">
          <div class="row">
            <div class="large-7">
              <p>Масаж? Ми вміємо!</p>
            </div>
          </div>
        </div>
        <div class="slider-item__btn"><a class="btn" href="#">Записатись на масаж</a></div>
      </div>
      <div class="slider-item">
        <div class="slider-item__img"><img src="./dist/images/slideritem2.jpg" alt=""/></div>
        <div class="slider-item__text">
          <div class="row">
            <div class="large-7">
              <p>Масаж? Ми вміємо!</p>
            </div>
          </div>
        </div>
        <div class="slider-item__btn"><a class="btn" href="#">Записатись на масаж</a></div>
      </div>
      <div class="slider-item">
        <div class="slider-item__img"><img src="./dist/images/slideritem3.jpg" alt=""/></div>
        <div class="slider-item__text">
          <div class="row">
            <div class="large-7">
              <p>Масаж? Ми вміємо!Ми вміємо!Ми вміємо!</p>
            </div>
          </div>
        </div>
        <div class="slider-item__btn"><a class="btn" href="#">Записатись на масаж</a></div>
      </div>
    </div>
  </div>
</slider>
