parts/Our-team.html

<section>
  <div class="our-team">
    <div class="row">
      <div class="title"><span>Наша команда</span></div>
      <div class="our-team__slider-wrap">
        <div class="our-team__slier">
          <div class="large-3 medium-4 small-6 column">
            <div class="our-team-item">
              <div class="our-team-item__foto"><img src="./dist/images/our-team-item.png" alt=""/></div>
              <div class="our-team-item__info">
                <div class="item-name"><span>Інна Наворенська</span></div>
                <div class="item-info">
                  <div class="position"><span>Засновник Масажного патруля / Масажист</span></div>
                  <p>Закінчила курси Масажного патруля в січні 2018</p>
                  <p>Спеціалізується на шіацу та масажі маслом</p>
                  <div class="item-info_soc"><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="large-3 medium-4 small-6 column">
            <div class="our-team-item">
              <div class="our-team-item__foto"><img src="./dist/images/our-team-item.png" alt=""/></div>
              <div class="our-team-item__info">
                <div class="item-name"><span>Інна Наворенська</span></div>
                <div class="item-info">
                  <div class="position"><span>Засновник Масажного патруля / Масажист</span></div>
                  <p>Закінчила курси Масажного патруля в січні 2018 .</p>
                  <p>Спеціалізується на шіацу та масажі маслом</p>
                  <div class="item-info_soc"><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="large-3 medium-4 small-6 column">
            <div class="our-team-item">
              <div class="our-team-item__foto"><img src="./dist/images/our-team-item.png" alt=""/></div>
              <div class="our-team-item__info">
                <div class="item-name"><span>Інна Наворенська</span></div>
                <div class="item-info">
                  <div class="position"><span>Засновник Масажного патруля / Масажист</span></div>
                  <p>Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.</p>
                  <p>Спеціалізується на шіацу та масажі маслом</p>
                  <div class="item-info_soc"><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="large-3 medium-4 small-6 column">
            <div class="our-team-item">
              <div class="our-team-item__foto"><img src="./dist/images/our-team-item.png" alt=""/></div>
              <div class="our-team-item__info">
                <div class="item-name"><span>Інна Наворенська</span></div>
                <div class="item-info">
                  <div class="position"><span>Засновник Масажного патруля / Масажист</span></div>
                  <p>Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.</p>
                  <p>Спеціалізується на шіацу та масажі маслом</p>
                  <div class="item-info_soc"><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="large-3 medium-4 small-6 column">
            <div class="our-team-item">
              <div class="our-team-item__foto"><img src="./dist/images/our-team-item.png" alt=""/></div>
              <div class="our-team-item__info">
                <div class="item-name"><span>Інна Наворенська</span></div>
                <div class="item-info">
                  <div class="position"><span>Засновник Масажного патруля / Масажист</span></div>
                  <p>Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.</p>
                  <p>Спеціалізується на шіацу та масажі маслом</p>
                  <div class="item-info_soc"><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="large-3 medium-4 small-6 column">
            <div class="our-team-item">
              <div class="our-team-item__foto"><img src="./dist/images/our-team-item.png" alt=""/></div>
              <div class="our-team-item__info">
                <div class="item-name"><span>Інна Наворенська</span></div>
                <div class="item-info">
                  <div class="position"><span>Засновник Масажного патруля / Масажист</span></div>
                  <p>Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.</p>
                  <p>Спеціалізується на шіацу та масажі маслом</p>
                  <div class="item-info_soc"><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="our-team__text">
        <p>На сегодняшний день Массажный Патруль – это около 70 влюбленных в свое дело людей. Людей, которые выбрали своей дорогой перемены и служение другим, готовых менять этот мир.</p>
      </div>
      <div class="our-team__btn"><a class="btn btn_yellow" href="#">Долучитись</a></div>
    </div>
  </div>
</section>

pug/parts/Our-team.pug
section

    .our-team
        .row
            .title
                span Наша команда
            .our-team__slider-wrap
                .our-team__slier
                    .large-3.medium-4.small-6.column
                        .our-team-item
                            .our-team-item__foto
                                img(src="./dist/images/our-team-item.png", alt="")
                            .our-team-item__info
                                .item-name
                                    span Інна Наворенська
                                .item-info
                                    .position
                                        span Засновник Масажного патруля / Масажист
                                    p Закінчила курси Масажного патруля в січні 2018
                                    p Спеціалізується на шіацу та масажі маслом
                                    .item-info_soc
                                        i.fab.fa-facebook-f
                                        i.fab.fa-instagram
                    .large-3.medium-4.small-6.column
                        .our-team-item
                            .our-team-item__foto
                                img(src="./dist/images/our-team-item.png", alt="")
                            .our-team-item__info
                                .item-name
                                    span Інна Наворенська
                                .item-info
                                    .position
                                        span Засновник Масажного патруля / Масажист
                                    p Закінчила курси Масажного патруля в січні 2018 .
                                    p Спеціалізується на шіацу та масажі маслом
                                    .item-info_soc
                                        i.fab.fa-facebook-f
                                        i.fab.fa-instagram
                    .large-3.medium-4.small-6.column
                        .our-team-item
                            .our-team-item__foto
                                img(src="./dist/images/our-team-item.png", alt="")
                            .our-team-item__info
                                .item-name
                                    span Інна Наворенська
                                .item-info
                                    .position
                                        span Засновник Масажного патруля / Масажист
                                    p Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.
                                    p Спеціалізується на шіацу та масажі маслом
                                    .item-info_soc
                                        i.fab.fa-facebook-f
                                        i.fab.fa-instagram
                    .large-3.medium-4.small-6.column
                        .our-team-item
                            .our-team-item__foto
                                img(src="./dist/images/our-team-item.png", alt="")
                            .our-team-item__info
                                .item-name
                                    span Інна Наворенська
                                .item-info
                                    .position
                                        span Засновник Масажного патруля / Масажист
                                    p Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.
                                    p Спеціалізується на шіацу та масажі маслом
                                    .item-info_soc
                                        i.fab.fa-facebook-f
                                        i.fab.fa-instagram
                    .large-3.medium-4.small-6.column
                        .our-team-item
                            .our-team-item__foto
                                img(src="./dist/images/our-team-item.png", alt="")
                            .our-team-item__info
                                .item-name
                                    span Інна Наворенська
                                .item-info
                                    .position
                                        span Засновник Масажного патруля / Масажист
                                    p Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.
                                    p Спеціалізується на шіацу та масажі маслом
                                    .item-info_soc
                                        i.fab.fa-facebook-f
                                        i.fab.fa-instagram
                    .large-3.medium-4.small-6.column
                        .our-team-item
                            .our-team-item__foto
                                img(src="./dist/images/our-team-item.png", alt="")
                            .our-team-item__info
                                .item-name
                                    span Інна Наворенська
                                .item-info
                                    .position
                                        span Засновник Масажного патруля / Масажист
                                    p Закінчила курси Масажного патруля в січні 2018 і відтоді активро робить масажі в нашій команді.
                                    p Спеціалізується на шіацу та масажі маслом
                                    .item-info_soc
                                        i.fab.fa-facebook-f
                                        i.fab.fa-instagram
                //- .t-Next
                //-     img(src="./dist/images/sl_next.svg", alt="")
                //- .t-Prev
                //-     img(src="./dist/images/sl_prev.svg", alt="")
            .our-team__text
                p На сегодняшний день Массажный Патруль – это около 70 влюбленных в свое дело людей. Людей, которые выбрали своей дорогой перемены и служение другим, готовых менять этот мир.
            .our-team__btn
                a.btn.btn_yellow(href="#") Долучитись
