parts/popupForm.html

<div class="popupForm clearfix">
  <form>
    <div class="form">
      <div class="title"><span>Записатись на Масаж</span></div>
      <p>Ім’я*</p>
      <input type="text"/>
      <p>Телефон*</p>
      <input type="text"/>
      <div class="full_form">
        <p>Місце</p>
        <select id="formAdrress">
          <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
          <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
        </select>
        <div class="popupForm__left column larges-6 medifum-6">
          <div class="inp_item inp_item_left">
            <p>Дата</p>
            <input type="text" name="date" data-date-format="mm/dd/yy" id="dp2"/>
          </div>
          <div class="inp_item inp_item_right">
            <p>Тип масажу</p>
            <select id="typeMassage">
              <option>Массаж спины</option>
              <option>Массаж спины</option>
            </select>
          </div>
          <div class="inp_item inp_item_left">
            <p>На котру годину</p>
            <select id="formTime">
              <option>10.00</option>
              <option>12.00</option>
            </select>
          </div>
          <div class="inp_item inp_item_right">
            <p>Тривалість сесії</p>
            <select id="duration">
              <option>100 минут - 750 грн.</option>
              <option>100 минут - 750 грн.</option>
            </select>
          </div>
        </div>
        <div class="popupForm__price column">
          <p>Вартість послуги:</p><span>300 грн</span>
        </div>
        <div class="popupForm__radio column">
          <div class="popupForm__radio__title">
            <p>Майстерність масажиста</p>
          </div>
          <div class="input-items">
            <div class="input-item large-4">
              <input type="radio" name="skill" id="jun" value="jun"/>
              <label for="jun">
                <div class="input-info">
                  <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""/></div>
                  <div class="input-item__info">
                    <div class="info__title"><span>qerty</span></div>
                    <div class="info__text">
                      <p>Масаж робить масажист який пройшов наш курс і набирається досвіду</p>
                    </div>
                  </div>
                </div>
                <div class="type"><span>Тіло</span></div>
                <div class="input-item__icon"><i class="fas fa-user-check"></i></div>
                <div class="input-item__price"><span>340 грн</span></div>
              </label>
            </div>
            <div class="input-item large-4">
              <input type="radio" name="skill" id="mid" value="mid"/>
              <label for="mid">
                <div class="input-info">
                  <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""/></div>
                  <div class="input-item__info">
                    <div class="info__title"><span>qerty</span></div>
                    <div class="info__text">
                      <p>Масаж робить масажист який пройшов наш курс і набирається досвіду</p>
                    </div>
                  </div>
                </div>
                <div class="type"><span>Тіло та емоції</span></div>
                <div class="input-item__icon"><i class="fas fa-user"></i><i class="fas fa-heart"></i></div>
                <div class="input-item__price"><span>340 грн</span></div>
              </label>
            </div>
            <div class="input-item large-4">
              <input type="radio" name="skill" id="sin" value="sin"/>
              <label for="sin">
                <div class="input-info">
                  <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""/></div>
                  <div class="input-item__info">
                    <div class="info__title"><span>qerty</span></div>
                    <div class="info__text">
                      <p>Масаж робить масажист який пройшов наш курс і набирається досвіду</p>
                    </div>
                  </div>
                </div>
                <div class="type"><span>Тіло та дух</span></div>
                <div class="input-item__icon"><i class="fas fa-user-friends"></i></div>
                <div class="input-item__price"><span>340 грн</span></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Коментар</p>
    <textarea></textarea><span>Ми передзвонимо вам для уточнення деталей бронювання!</span>
    <div class="popupForm__btn">
      <button class="btn btn_yellow button success" type="submit">Записатись</button>
      <button class="btn" id="btn_resset" type="button">Відміна</button>
    </div>
    <div class="allForm"><span id="allForm">Розширена форма запису</span></div>
  </form>
</div>

pug/parts/popupForm.pug
.popupForm.clearfix
    form
        .form
            .title
                span Записатись на Масаж
            p Ім’я*
            input(type="text")
            p Телефон*
            input(type="text")
            .full_form
                p Місце
                select#formAdrress
                    option м. Київ (Лівий Берег) вул. Набережно-Луговая 3
                    option м. Київ (Лівий Берег) вул. Набережно-Луговая 3
                .popupForm__left.column.larges-6.medifum-6
                    .inp_item.inp_item_left
                      p Дата
                      input(type="text" name='date'  data-date-format="mm/dd/yy" id="dp2")
                    .inp_item.inp_item_right
                      p Тип масажу
                      select#typeMassage
                          option Массаж спины
                          option Массаж спины
                    .inp_item.inp_item_left
                      p На котру годину
                      select#formTime
                        option 10.00
                        option 12.00
                    .inp_item.inp_item_right
                      p Тривалість сесії
                      select#duration
                          option 100 минут - 750 грн.
                          option 100 минут - 750 грн.
                .popupForm__price.column
                    p Вартість послуги:
                    span 300 грн
                .popupForm__radio.column
                    .popupForm__radio__title
                        p Майстерність масажиста
                    .input-items
                        .input-item.large-4
                            input(type="radio" name="skill" id='jun' value='jun')
                            label(for="jun")
                                .input-info
                                    .info-icon
                                        img(src="./dist/images/info_icon.svg", alt="")
                                    .input-item__info

                                        .info__title
                                            span qerty
                                        .info__text
                                            p Масаж робить масажист який пройшов наш курс і набирається досвіду
                                .type
                                    span Тіло
                                .input-item__icon
                                    i.fas.fa-user-check
                                .input-item__price
                                    span 340 грн
                        .input-item.large-4
                            input(type="radio" name="skill" id='mid' value='mid')
                            label(for="mid")
                                .input-info
                                    .info-icon
                                        img(src="./dist/images/info_icon.svg", alt="")
                                    .input-item__info

                                        .info__title
                                            span qerty
                                        .info__text
                                            p Масаж робить масажист який пройшов наш курс і набирається досвіду
                                .type
                                    span Тіло та емоції
                                .input-item__icon
                                    i.fas.fa-user
                                    i.fas.fa-heart
                                .input-item__price
                                    span 340 грн
                        .input-item.large-4
                            input(type="radio" name="skill" id='sin' value='sin')
                            label(for="sin")
                                .input-info
                                    .info-icon
                                        img(src="./dist/images/info_icon.svg", alt="")
                                    .input-item__info

                                        .info__title
                                            span qerty
                                        .info__text
                                            p Масаж робить масажист який пройшов наш курс і набирається досвіду
                                .type
                                    span Тіло та дух
                                .input-item__icon
                                    i.fas.fa-user-friends
                                .input-item__price
                                    span 340 грн
        p Коментар
        textarea
        span Ми передзвонимо вам для уточнення деталей бронювання!
        .popupForm__btn
            button.btn.btn_yellow(type="submit" class="button success") Записатись
            button.btn#btn_resset(type='button') Відміна
        .allForm
            span#allForm Розширена форма запису
