parts/sidebar-right.html

<div class="sidebar_right column large-3">
  <div class="search"><span>Пошук по блогу</span>
    <div class="search__input">
      <form>
        <input type="search" placeholder="Введіть для пошуку"/>
      </form>
    </div>
  </div>
  <div class="categories"><span>Категорії</span>
    <ul>
      <li><a href="#">Написано </a></li>
      <li><a href="#">Категорії</a></li>
      <li><a href="#">Постів</a></li>
      <li><a href="#">Події</a></li>
    </ul>
  </div>
</div>

pug/parts/sidebar-right.pug
.sidebar_right.column.large-3
	.search
		span Пошук по блогу
		.search__input
			form
				input(type="search" placeholder="Введіть для пошуку")
	.categories
		span Категорії
		ul
			li
				a(href="#") Написано 
			li
				a(href="#") Категорії
			li
				a(href="#") Постів
			li
				a(href="#") Події
