parts/specialization.html

<section>
  <div class="row">
    <div class="specialization">
      <div class="specialization__title"><span>Спеціалізація</span></div>
      <div class="specialization-items">
        <article>
          <div class="specialization-item">
            <div class="specialization-item__icon"><img src="./dist/images/spec_icon_1.svg" alt=""/></div>
            <div class="specialization-item__text"><span>Организация курсов и семинаров по массажу</span></div>
          </div>
        </article>
        <article>
          <div class="specialization-item">
            <div class="specialization-item__icon"><img src="./dist/images/spec_icon_2.svg" alt=""/></div>
            <div class="specialization-item__text"><span>Индивидуальные сеансы массажа на базе Массажного Патруля</span></div>
          </div>
        </article>
        <article>
          <div class="specialization-item">
            <div class="specialization-item__icon"><img src="./dist/images/spec_icon_3.svg" alt=""/></div>
            <div class="specialization-item__text"><span>Организация массажных зон и проведение сеансов в удобном для вас месте</span></div>
          </div>
        </article>
        <article>
          <div class="specialization-item">
            <div class="specialization-item__icon"><img src="./dist/images/spec_icon_4.svg" alt=""/></div>
            <div class="specialization-item__text"><span>Профессиональная платформа для общения массажистов</span></div>
          </div>
        </article>
        <article>
          <div class="specialization-item">
            <div class="specialization-item__icon"><img src="./dist/images/spec_icon_5.svg" alt=""/></div>
            <div class="specialization-item__text"><span>Благотворительность и социальные проекты</span></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

pug/parts/specialization.pug
section
	.row
		.specialization
			.specialization__title
				span Спеціалізація
			.specialization-items
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_1.svg", alt="")
						.specialization-item__text
							span Организация курсов и семинаров по массажу
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_2.svg", alt="")
						.specialization-item__text
							span Индивидуальные сеансы массажа на базе Массажного Патруля
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_3.svg", alt="")
						.specialization-item__text
							span Организация массажных зон и проведение сеансов в удобном для вас месте
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_4.svg", alt="")
						.specialization-item__text
							span Профессиональная платформа для общения массажистов
				article
					.specialization-item
						.specialization-item__icon
							img(src="./dist/images/spec_icon_5.svg", alt="")
						.specialization-item__text
							span Благотворительность и социальные проекты
