blogEntry.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>massage-patrol.com.ua</title>
    <meta name="description" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="dist/scripts/jquery.js"></script>
    <script type="text/javascript" src="dist/scripts/main.js"></script>
    <link rel="stylesheet" href="dist/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="dist/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="reveal" id="exampleModal1" data-reveal="">
        <div class="reveal" id="exampleModal3" data-reveal="">
          <h2>ВІДПРАЛЕНО!!!</h2>
          <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
        </div>
        <div class="popupForm clearfix">
          <form id="popup">
            <div class="form">
              <div class="title"><span>Записатись на Масаж</span></div>
              <p>Ім’я*</p>
              <input type="text">
              <p>Телефон*</p>
              <input type="text">
              <p>Місце</p>
              <select id="formAdrress">
                <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
                <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
              </select>
              <div class="popupForm__left column large-6 medium-6">
                <p>Дата</p>
                <input class="span2" type="text" value="02/16/12" data-date-format="mm/dd/yy" id="dp2">
                <p>Тип масажу</p>
                <select id="typeMassage">
                  <option>Массаж спины</option>
                  <option>Массаж спины</option>
                </select>
              </div>
              <div class="popupForm__right column large-6 medium-6">
                <p>На котру годину</p>
                <select id="formTime">
                  <option>10.00</option>
                  <option>12.00</option>
                </select>
                <p>Тривалість сесії</p>
                <select id="duration">
                  <option>100 минут - 750 грн.</option>
                  <option>100 минут - 750 грн.</option>
                </select>
              </div>
              <p>Коментар</p>
              <textarea></textarea>
            </div><span>Ми передзвонимо вам для уточнення деталей бронювання!</span>
            <div class="popupForm__btn">
              <button class="btn btn_yellow button success" type="submit" data-open="exampleModal">Записатись</button>
              <button class="btn" id="btn_resset" type="button">Відміна</button>
            </div>
            <div class="allForm"><span id="allForm">Розширена форма запису</span></div>
          </form>
        </div>
        <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
      </div>
      <div class="header">
        <div class="header-top">
          <div class="mob_contact">
            <div class="icon_contact">
              <div class="burger_contact"></div>
            </div>
          </div>
          <div class="row">
            <div class="header__contact column large-8 medium-10">
              <ul>
                <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i><span class="hide-for-medium-only">facebook</span></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i><span class="hide-for-medium-only">Instagram</span></a></li>
              </ul>
            </div>
            <div class="header__search column large-4 medium-2">
              <div class="search" data-opener-target="search">
                <form>
                  <label class="show-for-large" for="h-search">Пошук:</label>
                  <input type="search" id="h-search"><img class="btn-search" src="./dist/images/serch-icon.svg" alt="" data-opener="search">
                </form>
              </div>
              <div class="lang clearfix">
                <select id="langSelect">
                  <option>укр</option>
                  <option>eng</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row header-bottom">
          <div class="header__logo column large-3 medium-3 small-12"><a href="index.html"><img src="./dist/images/logo.png" alt=""></a></div>
          <div class="header__menu column large-9 medium-9 small-12">
            <div class="mob_open">
              <div class="icon">
                <div class="burger"></div>
              </div>
            </div>
            <nav>
              <ul class="nav-menu">
                <li class="active"><a href="#">Менюшки</a></li>
                <li><a href="category.html">Послуги</a></li>
                <li><a href="about.html">Про нас</a></li>
                <li><a href="contacts.html">Контакти</a></li>
                <li><a href="blog.html">блог</a></li>
              </ul>
            </nav>
            <div class="tel show-for-small-only"><a href="#">(+38) 066 475 7299</a></div>
          </div>
        </div>
      </div>
    </header>
    <div class="row column">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">Головна </a></li>
          <li><a href="#">Типи Масажу </a></li>
          <li><span class="show-for-sr">Current: </span>Класичний з маслом</li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="content-block blog-content column large-9">
        <article>
          <div class="blog-item large-11">
            <div class="blog-item__date"><span>18 </span><span>черв</span></div>
            <div class="blog-item__content">
              <div class="blog-item__title"><a href="blogEntry.html">Виїздний кемперінг для пенсіонерів</a></div>
              <div class="posted-by"><span>
                   Від <a href="#">Admin </a></span><span>в <a href="#">Події</a></span></div><img src="./dist/images/blog_item.png">
              <p>Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в</p>
              <h5>Підзаголовок у статті для тексту</h5>
              <p>Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс</p><img src="./dist/images/blog_item.png">
              <h5>Підзаголовок у статті для тексту</h5>
              <p>Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс</p>
              <figure class="wp-caption alignnone"><img src="./dist/images/blog_item.png">
                <figcaption class="wp-caption-text">Підписи під картинками в блозі</figcaption>
              </figure>
              <p>Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс</p>
              <blockquote>
                <p>Мы— это активно развивающийся международный проект, который открыто заявляет</p><span>— Масажный Патруль</span>
              </blockquote>
              <p>Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс</p>
              <iframe src="https://www.youtube.com/embed/dmwYLuJQoFg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <h1>H1 Heading</h1>
              <h2>H2 Heading</h2>
              <h3>H3 Heading</h3>
              <h4>H4 Heading</h4>
              <h5>H5 Heading</h5>
              <h6>H6 Heading</h6>
              <h4>Unordered list</h4>
              <ul>
                <li>Unordered list</li>
                <li>Unordered list</li>
                <li>Unordered list</li>
              </ul>
              <h4>Unordered list</h4>
              <ol>
                <li>Unordered list</li>
                <li>Unordered list</li>
                <li>Unordered list</li>
              </ol>
              <p> <strong>Bold Text: Whether you found me on YouTube</strong></p>
              <p><i>Italic:  Whether you found me on YouTube</i></p>
              <p>
                <del>Strike-through:  Whether you found me on YouTube</del>
              </p>
              <p><a href="#">Link: Whether you found me on YouTube</a></p>
              <blockquote>
                <p>Мы— это активно развивающийся международный проект, который открыто заявляет</p><span>— Масажный Патруль</span>
              </blockquote>
              <h4>right aligned image</h4><img class="alignright" src="./dist/images/blog_item.png">
              <p>Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в</p>
              <h4>Left aligned image</h4><img class="alignleft" src="./dist/images/blog_item.png">
              <p>Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в</p><img class="aligncenter" src="./dist/images/blog_item-2.png">
              <figure class="wp-caption alignnone"><img src="./dist/images/blog_item-2.png">
                <figcaption class="wp-caption-text">Підписи під картинками в блозі</figcaption>
              </figure>
            </div>
          </div>
        </article>
      </div>
      <div class="sidebar_right column large-3">
        <div class="search"><span>Пошук по блогу</span>
          <div class="search__input">
            <form>
              <input type="search" placeholder="Введіть для пошуку">
            </form>
          </div>
        </div>
        <div class="categories"><span>Категорії</span>
          <ul>
            <li><a href="#">Написано </a></li>
            <li><a href="#">Категорії</a></li>
            <li><a href="#">Постів</a></li>
            <li><a href="#">Події</a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <div class="row">
          <div class="footer__logo column large-3 medium-4 small-12"><a href="index.html"><img src="./dist/images/logo.png" alt=""></a></div>
          <div class="footer__menu column large-3 medium-4">
            <p>Швидкі посилання</p>
            <ul>
              <li><a href="#">Домашня</a></li>
              <li><a href="#">Новини</a></li>
              <li><a href="#">Про нас</a></li>
              <li><a href="#">Зв’язок</a></li>
              <li><a href="#">Курси</a></li>
            </ul>
          </div>
          <div class="footer__news column large-4 show-for-large">
            <p>Останні новини</p>
            <ul>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
            </ul>
          </div>
          <div class="footer_contact column medium-4 hide-for-large"><span>Конатакти</span>
            <ul>
              <li><a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
              <li><a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
              <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="footer__bottom">
            <div class="footer_copy">
              <sapn>Копірайт 2018 Массажний Патруль. Права захищено, Розроблено в <a href="#">LIONLINE</a></sapn>
            </div>
            <div class="footer_contact_bottom show-for-large"><span>Конатакти</span>
              <ul>
                <li><a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
                <li><a class="hide-for-small-only" href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
                <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

pug/blogEntry.pug
doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
	head
		include ./parts/head
	body
		include ./parts/header
		include ./parts/breadcrambs

		.row
			.content-block.blog-content.column.large-9
				article
					.blog-item.large-11
						.blog-item__date
							span 18 
							span черв

						.blog-item__content
							.blog-item__title
								a(href="blogEntry.html") Виїздний кемперінг для пенсіонерів
							.posted-by
								span 
									| Від 
									a(href="#") Admin 
								span
									|в 
									a(href="#") Події
							img(src='./dist/images/blog_item.png')
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в
							
							h5 Підзаголовок у статті для тексту

							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							img(src='./dist/images/blog_item.png')
							
							h5 Підзаголовок у статті для тексту

							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							figure.wp-caption.alignnone
								img(src='./dist/images/blog_item.png')
								figcaption.wp-caption-text Підписи під картинками в блозі
							
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							blockquote
								p Мы— это активно развивающийся международный проект, который открыто заявляет
								span — Масажный Патруль

							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейс

							iframe( src="https://www.youtube.com/embed/dmwYLuJQoFg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)









							h1 H1 Heading
							h2 H2 Heading
							h3 H3 Heading
							h4 H4 Heading
							h5 H5 Heading
							h6 H6 Heading

							h4 Unordered list
							ul
								li Unordered list
								li Unordered list
								li Unordered list
							

							h4 Unordered list
							ol
								li Unordered list
								li Unordered list
								li Unordered list

							p 
								strong Bold Text: Whether you found me on YouTube
							p
								i Italic:  Whether you found me on YouTube

							p
								del Strike-through:  Whether you found me on YouTube
							p
								a(href="#") Link: Whether you found me on YouTube

							
							blockquote
								p Мы— это активно развивающийся международный проект, который открыто заявляет
								span — Масажный Патруль
							h4 right aligned image
							img.alignright(src='./dist/images/blog_item.png')
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в
							h4 Left aligned image
							img.alignleft(src='./dist/images/blog_item.png')
							p Массажный Патруль вырос из команды волонтеров, работающих на энтузиазме и желании помогать. Мы помогаем клиенту – получить кайф от своего тела. Мы помогаем массажистам – развиваться и становиться увереннее. Мы помо. В настоящее время трудно впечатлить или даже удивить анимацией интерфейса. Она показывает взаимодействие между экранами, объясняет, как использовать приложение или просто направляет внимание пользователя. Изучая статьи об анимации, я узнал, что почти в
							img.aligncenter( src='./dist/images/blog_item-2.png')
							

							figure.wp-caption.alignnone
								img(src='./dist/images/blog_item-2.png')
								figcaption.wp-caption-text Підписи під картинками в блозі

							
							
							
							
							

									
									
			include ./parts/sidebar-right

		include ./parts/footer
