pug/categoryEntry.pug
doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

html(class="no-js" lang="en-US")
    head
        include ./parts/head
    body
        include ./parts/header

        include ./parts/breadcrambs
        .main
            .row
                .sidebar-left.column.large-3
                    ul
                        li.active
                            a(href="category.html") Класичний з маслом
                        li
                            a(href="category.html") Тайський
                        li
                            a(href="category.html") Парний
                        li
                            a(href="category.html") Антицелюлітний
                .content.column.large-8
                    .categoryEntry.clearfix
                        .categoryEntry__title
                            span Класичний з маслом-1
                        .categoryEntry__img
                            img(src="./dist/images/event_foto.png", alt="")
                        .categoryEntry__text
                            p Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
                        .price-item__price.large-4.medium-4
                            ul
                                li
                                    .info-icon
                                        img(src="./dist/images/info_icon.svg", alt="")
                                    .price-item__info
                                        .info__close
                                            img(src="./dist/images/close_info.svg", alt="")
                                        .info__title
                                            span qerty
                                        .info__text
                                            p а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.

                                    span.left 70 минут сесия
                                    span.right 570 грн.
                                li
                                    .info-icon
                                        img(src="./dist/images/info_icon.svg", alt="")
                                    .price-item__info
                                        .info__close
                                            img(src="./dist/images/close_info.svg", alt="")
                                        .info__title
                                            span qerty
                                        .info__text
                                            p а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
                                    span.left 100 минут сесия
                                    span.right 750 грн.
                                li
                                    .info-icon
                                        img(src="./dist/images/info_icon.svg", alt="")
                                    .price-item__info
                                        .info__close
                                            img(src="./dist/images/close_info.svg", alt="")
                                        .info__title
                                            span qerty
                                        .info__text
                                            p а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.
                                    span.left 130 минут сесия
                                    span.right 1100 грн.

                        include ./parts/popupForm
        include ./parts/footer

categoryEntry.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<!--[if lte IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>massage-patrol.com.ua</title>
    <meta name="description" content="">
    <meta name="copyright" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="dist/scripts/jquery.js"></script>
    <script type="text/javascript" src="dist/scripts/main.js"></script>
    <link rel="stylesheet" href="dist/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="dist/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="reveal" id="exampleModal1" data-reveal="">
        <div class="reveal" id="exampleModal3" data-reveal="">
          <h2>ВІДПРАЛЕНО!!!</h2>
          <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
        </div>
        <div class="popupForm clearfix">
          <form id="popup">
            <div class="form">
              <div class="title"><span>Записатись на Масаж</span></div>
              <p>Ім’я*</p>
              <input type="text">
              <p>Телефон*</p>
              <input type="text">
              <p>Місце</p>
              <select id="formAdrress">
                <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
                <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
              </select>
              <div class="popupForm__left column large-6 medium-6">
                <p>Дата</p>
                <input class="span2" type="text" value="02/16/12" data-date-format="mm/dd/yy" id="dp2">
                <p>Тип масажу</p>
                <select id="typeMassage">
                  <option>Массаж спины</option>
                  <option>Массаж спины</option>
                </select>
              </div>
              <div class="popupForm__right column large-6 medium-6">
                <p>На котру годину</p>
                <select id="formTime">
                  <option>10.00</option>
                  <option>12.00</option>
                </select>
                <p>Тривалість сесії</p>
                <select id="duration">
                  <option>100 минут - 750 грн.</option>
                  <option>100 минут - 750 грн.</option>
                </select>
              </div>
              <p>Коментар</p>
              <textarea></textarea>
            </div><span>Ми передзвонимо вам для уточнення деталей бронювання!</span>
            <div class="popupForm__btn">
              <button class="btn btn_yellow button success" type="submit" data-open="exampleModal">Записатись</button>
              <button class="btn" id="btn_resset" type="button">Відміна</button>
            </div>
            <div class="allForm"><span id="allForm">Розширена форма запису</span></div>
          </form>
        </div>
        <button class="close-button" data-close="" aria-label="Close reveal" type="button"><span aria-hidden="true">×</span></button>
      </div>
      <div class="header">
        <div class="header-top">
          <div class="mob_contact">
            <div class="icon_contact">
              <div class="burger_contact"></div>
            </div>
          </div>
          <div class="row">
            <div class="header__contact column large-8 medium-10">
              <ul>
                <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i><span class="hide-for-medium-only">facebook</span></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i><span class="hide-for-medium-only">Instagram</span></a></li>
              </ul>
            </div>
            <div class="header__search column large-4 medium-2">
              <div class="search" data-opener-target="search">
                <form>
                  <label class="show-for-large" for="h-search">Пошук:</label>
                  <input type="search" id="h-search"><img class="btn-search" src="./dist/images/serch-icon.svg" alt="" data-opener="search">
                </form>
              </div>
              <div class="lang clearfix">
                <select id="langSelect">
                  <option>укр</option>
                  <option>eng</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row header-bottom">
          <div class="header__logo column large-3 medium-3 small-12"><a href="index.html"><img src="./dist/images/logo.png" alt=""></a></div>
          <div class="header__menu column large-9 medium-9 small-12">
            <div class="mob_open">
              <div class="icon">
                <div class="burger"></div>
              </div>
            </div>
            <nav>
              <ul class="nav-menu">
                <li class="active"><a href="#">Менюшки</a></li>
                <li><a href="category.html">Послуги</a></li>
                <li><a href="about.html">Про нас</a></li>
                <li><a href="contacts.html">Контакти</a></li>
                <li><a href="blog.html">блог</a></li>
              </ul>
            </nav>
            <div class="tel show-for-small-only"><a href="#">(+38) 066 475 7299</a></div>
          </div>
        </div>
      </div>
    </header>
    <div class="row column">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">Головна </a></li>
          <li><a href="#">Типи Масажу </a></li>
          <li><span class="show-for-sr">Current: </span>Класичний з маслом</li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <div class="row">
        <div class="sidebar-left column large-3">
          <ul>
            <li class="active"><a href="category.html">Класичний з маслом</a></li>
            <li><a href="category.html">Тайський</a></li>
            <li><a href="category.html">Парний</a></li>
            <li><a href="category.html">Антицелюлітний</a></li>
          </ul>
        </div>
        <div class="content column large-8">
          <div class="categoryEntry clearfix">
            <div class="categoryEntry__title"><span>Класичний з маслом-1</span></div>
            <div class="categoryEntry__img"><img src="./dist/images/event_foto.png" alt=""></div>
            <div class="categoryEntry__text">
              <p>Общий массаж благотворно действует на весь организм, так прорабатывается все тело — от макушки головы до пальцев на ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.</p>
            </div>
            <div class="price-item__price large-4 medium-4">
              <ul>
                <li>
                  <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""></div>
                  <div class="price-item__info">
                    <div class="info__close"><img src="./dist/images/close_info.svg" alt=""></div>
                    <div class="info__title"><span>qerty</span></div>
                    <div class="info__text">
                      <p>а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.</p>
                    </div>
                  </div><span class="left">70 минут сесия</span><span class="right">570 грн.</span>
                </li>
                <li>
                  <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""></div>
                  <div class="price-item__info">
                    <div class="info__close"><img src="./dist/images/close_info.svg" alt=""></div>
                    <div class="info__title"><span>qerty</span></div>
                    <div class="info__text">
                      <p>а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.</p>
                    </div>
                  </div><span class="left">100 минут сесия</span><span class="right">750 грн.</span>
                </li>
                <li>
                  <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""></div>
                  <div class="price-item__info">
                    <div class="info__close"><img src="./dist/images/close_info.svg" alt=""></div>
                    <div class="info__title"><span>qerty</span></div>
                    <div class="info__text">
                      <p>а ногах, повышает тонус мышц, суставно-связочного аппарата, активизирует образование синовиальной жидкости, улучшает циркуляцию крови, отток лимфы.</p>
                    </div>
                  </div><span class="left">130 минут сесия</span><span class="right">1100 грн.</span>
                </li>
              </ul>
            </div>
            <div class="popupForm clearfix">
              <form>
                <div class="form">
                  <div class="title"><span>Записатись на Масаж</span></div>
                  <p>Ім’я*</p>
                  <input type="text">
                  <p>Телефон*</p>
                  <input type="text">
                  <div class="full_form">
                    <p>Місце</p>
                    <select id="formAdrress">
                      <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
                      <option>м. Київ (Лівий Берег) вул. Набережно-Луговая 3</option>
                    </select>
                    <div class="popupForm__left column larges-6 medifum-6">
                      <div class="inp_item inp_item_left">
                        <p>Дата</p>
                        <input type="text" name="date" data-date-format="mm/dd/yy" id="dp2">
                      </div>
                      <div class="inp_item inp_item_right">
                        <p>Тип масажу</p>
                        <select id="typeMassage">
                          <option>Массаж спины</option>
                          <option>Массаж спины</option>
                        </select>
                      </div>
                      <div class="inp_item inp_item_left">
                        <p>На котру годину</p>
                        <select id="formTime">
                          <option>10.00</option>
                          <option>12.00</option>
                        </select>
                      </div>
                      <div class="inp_item inp_item_right">
                        <p>Тривалість сесії</p>
                        <select id="duration">
                          <option>100 минут - 750 грн.</option>
                          <option>100 минут - 750 грн.</option>
                        </select>
                      </div>
                    </div>
                    <div class="popupForm__price column">
                      <p>Вартість послуги:</p><span>300 грн</span>
                    </div>
                    <div class="popupForm__radio column">
                      <div class="popupForm__radio__title">
                        <p>Майстерність масажиста</p>
                      </div>
                      <div class="input-items">
                        <div class="input-item large-4">
                          <input type="radio" name="skill" id="jun" value="jun">
                          <label for="jun">
                            <div class="input-info">
                              <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""></div>
                              <div class="input-item__info">
                                <div class="info__title"><span>qerty</span></div>
                                <div class="info__text">
                                  <p>Масаж робить масажист який пройшов наш курс і набирається досвіду</p>
                                </div>
                              </div>
                            </div>
                            <div class="type"><span>Тіло</span></div>
                            <div class="input-item__icon"><i class="fas fa-user-check"></i></div>
                            <div class="input-item__price"><span>340 грн</span></div>
                          </label>
                        </div>
                        <div class="input-item large-4">
                          <input type="radio" name="skill" id="mid" value="mid">
                          <label for="mid">
                            <div class="input-info">
                              <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""></div>
                              <div class="input-item__info">
                                <div class="info__title"><span>qerty</span></div>
                                <div class="info__text">
                                  <p>Масаж робить масажист який пройшов наш курс і набирається досвіду</p>
                                </div>
                              </div>
                            </div>
                            <div class="type"><span>Тіло та емоції</span></div>
                            <div class="input-item__icon"><i class="fas fa-user"></i><i class="fas fa-heart"></i></div>
                            <div class="input-item__price"><span>340 грн</span></div>
                          </label>
                        </div>
                        <div class="input-item large-4">
                          <input type="radio" name="skill" id="sin" value="sin">
                          <label for="sin">
                            <div class="input-info">
                              <div class="info-icon"><img src="./dist/images/info_icon.svg" alt=""></div>
                              <div class="input-item__info">
                                <div class="info__title"><span>qerty</span></div>
                                <div class="info__text">
                                  <p>Масаж робить масажист який пройшов наш курс і набирається досвіду</p>
                                </div>
                              </div>
                            </div>
                            <div class="type"><span>Тіло та дух</span></div>
                            <div class="input-item__icon"><i class="fas fa-user-friends"></i></div>
                            <div class="input-item__price"><span>340 грн</span></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p>Коментар</p>
                <textarea></textarea><span>Ми передзвонимо вам для уточнення деталей бронювання!</span>
                <div class="popupForm__btn">
                  <button class="btn btn_yellow button success" type="submit">Записатись</button>
                  <button class="btn" id="btn_resset" type="button">Відміна</button>
                </div>
                <div class="allForm"><span id="allForm">Розширена форма запису</span></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">
        <div class="row">
          <div class="footer__logo column large-3 medium-4 small-12"><a href="index.html"><img src="./dist/images/logo.png" alt=""></a></div>
          <div class="footer__menu column large-3 medium-4">
            <p>Швидкі посилання</p>
            <ul>
              <li><a href="#">Домашня</a></li>
              <li><a href="#">Новини</a></li>
              <li><a href="#">Про нас</a></li>
              <li><a href="#">Зв’язок</a></li>
              <li><a href="#">Курси</a></li>
            </ul>
          </div>
          <div class="footer__news column large-4 show-for-large">
            <p>Останні новини</p>
            <ul>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
              <li><a href="#">
                   BANDA OPEN GAMES 2018</a><i class="fa fa-calendar" aria-hidden="true"></i><span>12 вересня 2018</span></li>
            </ul>
          </div>
          <div class="footer_contact column medium-4 hide-for-large"><span>Конатакти</span>
            <ul>
              <li><a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
              <li><a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
              <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="footer__bottom">
            <div class="footer_copy">
              <sapn>Копірайт 2018 Массажний Патруль. Права захищено, Розроблено в <a href="#">LIONLINE</a></sapn>
            </div>
            <div class="footer_contact_bottom show-for-large"><span>Конатакти</span>
              <ul>
                <li><a href="#"> <i class="fa fa-phone" aria-hidden="true"></i>(+38) 066 475 7299</a></li>
                <li><a class="hide-for-small-only" href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>mp007pro@gmail.com</a></li>
                <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
